body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    /* body tag is a grid */
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
}
aside {
    background-color: #000;
    grid-column-start: 1;
    line-height: 2;
}
header {
    background: #111;
    position: sticky;
    top: 0px;
    padding-bottom: 30px;
    padding-right: 10px;
    text-align: right;
    padding-top: 10px;
    letter-spacing: normal;
    
}
 #profile {
    background-color:#222;
    border-radius: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 25px;
    padding-left: 25px;
 }
 #upgrade {
    border-radius: 40px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 2px;
    outline-style: solid;
    outline-color: white;
    outline-width: 1.5px;
}


/* Uncomment to see borders:  
/* header, nav, article {
    border: solid 5px teal;
    padding: 10px;
}
main {
    border: solid 5px hotpink;
    padding: 10px;
} */

main {
    background: #111;
    grid-column-start: 2;
    overflow-y: auto;
    z-index: 3;
}

footer {
    background: #222;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

div {
    border-radius: 45px;
    padding-bottom: 10px;
}

/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}





/* Your Code Here */

/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */
aside{
    padding-left: 10px;
}

 header {
 text-align: right;
 
}

#header {
    text-align: right;
    display: inline-block;
  
}
nav {
    display: inline;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 10;
    word-spacing: 4px;
    
}






/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here.
   For the desktop view, there should be 5 cards per row.
*/
article {
    display:grid;
    grid-template-columns:   1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    width: 100%; 
}
img {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
   }
  button {
    display:none;
    
    
    
}



.artist-card {
   display: grid;
   font-size: 10pt;
   background-color: #222;
   margin: 5%;
   border-radius: 15px;
   padding-left: 3vw;
   padding-right: 3vw;
   padding-top: 2vw;
   align-content: center;
   width: 90%;
}


/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media screen and (max-width: 1000px) {
    /* 
        Tablet Display: 3 cards per row!
    
    */
}


@media screen and (max-width: 700px) {
    /* Mobile Display 
        * 2 cards per row
        * The aside panel and "Upgrade" button should no longer be visible.
        * There should only be a 1-column layout.
    */
}


